{% extends 'base.html.twig' %}

{% block title %}Cities
{% endblock %}

{% block body %}
	<h1>
		Cities List
	</h1>
		{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">
			{{flashMessage}}
		</div>

	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('warning') %}
		<div class="alert alert-success">
			{{flashMessage}}
		</div>

	{% endfor %}
	<hr>
	<div class="row">
		<div class="col-md-12">
			<a href="{{path('create_city')}}" class="btn btn-primary pull-right">Add City</a>
		</div>
	</div>
	<table class="table table-hover table-striped mt-3">
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					City Name
				</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for city in cities %}
				<tr>
					<td>
						{{city.id}}</td>
					<td>
						{{city.name}}</td>
					<td>
						<a class="btn btn-sm btn-success" href="{{path('edit_city',{'id': city.id })}}">
							<i class="fa fa-pencil">Edit</i>
						</a>
						<a class="btn btn-sm btn-danger" href="{{path('delete_city', {'id': city.id})}}">
							<i class="fa fa-trash">Delete</i>
						</a>
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="3">Nenhum registro encontrado!</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
{% endblock %}
